@page "/{author}"
@using Microsoft.AspNetCore.Routing
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var userName = User.FindFirst("Name")?.Value ?? "User";
}

<div>
    <h1>Whats on your mind @userName ?</h1>
    <form method="post">
        <input type="text" name="Message" value="">
        <input type="submit" value="Share">
    </form>
    
    <h2> @userName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

